<!doctype html>
<html lang="{{lang}}">
<head>
    <title>{{title}}</title>
    {{> head-partial }}
</head>
<body class="{{body-classes}}">
{{>page-header-partial}}
<div id="page-core" class="{{ layout-container-class }} position-relative">
    <main id="page-main">
        <div id="main-content">
            {{{ main-content-html }}}
        </div>
    </main>
    {{> railbar-partial }}
</div>
{{>page-footer-partial}}
{{>body-beforeend-partial}}
</body>
</html>
