<html lang="{{ lang }}">
<head>
    <title>{{ title }}</title>
    {{{ head }}}
    {{#if html-rem-size}}
        <style>html {
            font-size: {{html-rem-size}}px
        }</style>
    {{/if}}
</head>
<body>
<div id="page-core" class="{{ layout-container-class }} {{body-doku-classes}}">
    <main id="main-content">
        <h1>{{h1}}</h1>
        <nav id="main-toc"></nav>
        {{{ main-content }}}
    </main>
</div>
</body>
</html>
