<!doctype html>
<html lang="{{ lang }}">
<head>
    <title>{{title}}</title>
    {{> head-partial }}
</head>
<body class="{{body-classes}}">
<div id="page-core" class="{{ layout-container-class }}">
    <main id="main-content">
        {{!-- redirection messages --}}
        {{{ main-content-afterbegin-html }}}
        <h1>{{h1}}</h1>
        {{> toc-partial}}
        {{{ main-content-html }}}
    </main>
</div>
{{> body-beforeend-partial }}
</body>
</html>
