<html lang="{{lang}}">
<head>
    <title>{{title}}</title>
    {{> head-partial }}
    {{> page-side-md-collapsable-head }}
</head>
<body class="{{body-classes}}">
{{> page-header-partial }}
<div id="page-core" class="{{ layout-container-class }} position-relative">
    <main id="page-main" class="col-md-9 mx-auto">
        <header id="main-header">
            {{{ main-header-html }}}
        </header>
        {{> toc-partial }}
        <div id="main-content">
            {{{ main-content-html }}}
        </div>
        <footer id="main-footer" class="d-print-none">
            {{{ main-footer-html }}}
        </footer>
    </main>
    {{> railbar-partial }}
</div>
{{>page-footer-partial}}
{{>body-beforeend-partial}}
</body>
</html>

