<!doctype html>
<html lang="{{lang}}">
<head>
    <title>{{ title }}</title>
    {{> head-partial }}
    {{> page-side-md-collapsable-head }}
</head>
<body>
{{>page-header-partial}}
<div id="page-core" class="{{ layout-container-class }} position-relative">
    <aside id="page-side" class="d-print-none">
        {{>page-side-md-collapsable }}
    </aside>
    <main id="page-main">
        <div id="main-content">
            {{!--No main-header as the index generally contains a cover image
            If we add the main-header, we will then ends up with 2 images--}}
            <h1>{{title}}</h1>
            <p>{{#breadcrumb}}{{/breadcrumb}}</p>
            {{{ main-content-html }}}
        </div>
    </main>
    {{> railbar-partial }}
</div>

{{>page-footer-partial}}
{{>body-beforeend-partial}}
</body>
</html>
