<html lang="{{lang}}">
<head>
    <title>{{title}}</title>
    {{>head-partial}}
</head>
<body class="{{body-classes}}">
{{>page-header-partial}}
<div id="page-core" class="{{ layout-container-class }}">
    <main class="col-md-8 mx-auto position-relative">
        <header id="main-header">
            <h1>{{ title }}</h1>
            <p>{{#breadcrumb}}{{/breadcrumb}}</p>
        </header>
        {{> toc-partial }}
        <div id="main-content">
            {{{ main-content-html }}}
        </div>
        <footer id="main-footer" class="d-print-none">
            {{{ main-footer-html }}}
        </footer>
        {{>railbar-partial}}
    </main>
</div>
{{>page-footer-partial}}
{{>body-beforeend-partial}}
</body>
</html>
