<form class="row row-cols-1 row-cols-sm-2 g-3 align-items-center" action="{{ action }}"
      data-success-content="{{ success-content }}"
      data-success-header="Hurray!"
>
    <div class="col">
        <label for="inputEmail" class="visually-hidden">Enter your email</label>
        <input type="hidden" name="{{ list-name }}" value="{{ list-value }}"/>
        <input type="email" id="inputEmail" name="{{ email-name }}" class="form-control" placeholder="Your email"
               aria-describedby="inputEmail" autocomplete="email" required="required"/>
    </div>
    <div class="col">
        {{#if primary-color}}
            <button class="btn" type="submit" style="color:#fff;background-color:{{ primary-color }};border-color:{{ primary-color }}">Subscribe</button>
        {{else}}
            <button class="btn btn-primary" type="submit" style="color:{{ primary-color }}">Subscribe</button>
        {{/if}}
    </div>
</form>
